.adminUserCard {
  width: 100%;
  border-right: 3px solid red;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
}
.name {
  flex: 1;
}
.createdAt {
  flex-basis: 35%;
  text-align: center;
}
.isAdmin {
  flex-basis: 15%;
  text-align: center;
  border-left: 1px solid black;
}
.top input {
  width: 100%;
}
.center {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
}
.centerLeft {
  flex: 1;
}
.centerLeftDiv {
  display: flex;
}
.centerLeftDiv > span {
  flex-basis: 20%;
}
.centerLeftDiv > input {
  flex: 1;
  width: 100%;
}
.centerRight {
  border-left: 1px solid black;
  flex: 1;
}
.centerRightDiv {
  display: flex;
}
.centerRightDiv > span {
  flex-basis: 20%;
}
.centerRightDiv > input {
  flex: 1;
  width: 100%;
}
.buttom {
  border-top: 1px solid black;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
