.auth {
  width: 100%;
  min-height: 100dvh;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.search {
  width: 100%;
  display: flex;
}
.search input {
  flex: 1;
}
.top {
  display: flex;
  padding: 0 3px;
  border-bottom: 3px solid red;
}
.topName {
  flex: 1;
}
.topName > span {
  cursor: pointer;
}
.topCreatedAt {
  flex-basis: 35%;
  text-align: center;
}
.topCreatedAt > span {
  cursor: pointer;
}
.topIsAdmin {
  flex-basis: 15%;
  text-align: center;
}
.topIsAdmin > span {
  cursor: pointer;
}
.selected {
  border: 3px solid red;
}
.bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 5%;
  gap: 10px;
}
.selectPage {
  border-bottom: 1px solid var(--main-color);
}
.bottom span {
  cursor: pointer;
}
