.order {
  border: 3px solid orange;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  display: flex;
}
.top span {
  flex-basis: 10%;
}
.top div {
  flex: 1;
}
.top > div > span {
  cursor: pointer;
}
.center {
  display: flex;
  flex-direction: row;
}
.centerLeft {
  flex: 1;
  flex-direction: column;
}
.centerLeftDiv {
  display: flex;
}
.centerLeftDiv > span {
  flex-basis: 20%;
}
.centerLeftDiv > input {
  flex: 1;
  width: 100%;
}
.centerRight {
  flex: 1;
  flex-direction: column;
}
.centerRightDiv {
  display: flex;
}
.centerRightDiv > span {
  flex-basis: 20%;
}
.centerRightDiv > input {
  flex: 1;
  width: 100%;
}
.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 5%;
}
.maintop {
  display: flex;
  text-align: right;
  border-bottom: 1px solid var(--gray-color);
  padding: 0 0 8px 0;
}
.mainTopProduct {
  text-align: left;
  width: 66px;
  min-width: 66px;
  margin-right: 24px;
  flex: 0 0 auto;
}
.mainTopPrice {
  width: 180px;
}
.mainTopQty {
  margin: 0 24px;
  width: 90px;
  text-align: center;
}
.mainTopTotal {
  width: 120px;
}
.mainTopOrder {
  text-align: left;
  margin-right: 24px;
  flex: 1;
}
.subtotal {
  width: 100%;
  margin: 40px auto 0;
  padding: 0 5%;
}
.subTotalMain {
  display: flex;
  font-size: 1.5rem;
  padding: 16px 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  display: flex;
  justify-content: space-between;
}
.buttom {
  border-top: 1px solid black;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
